%div{ layout: "row" }
  .grey-bg.center-column{ flex: "100", "flex-gt-md" => "70", layout: "column", "ng-controller" => "ChangePasswordController"}
    .button-stroke
      %button.button.button_js.grey_border_black_text{ "ui-sref" => "home.users-edit", "ng-show" => "session.connected && session.user.user_type != null" }
        %span.button_label {{'general.back' | t}}
    %h1 {{'user.edit.change_password.title' | t}}
    .line-separator.no-padding.no-margin

    %form.form-horizontal{role: "form", "ng-submit" => "submit()", name: 'profileForm'}
      .form-group
        %label.col-sm-4.control-label{for: "old_password"} {{'user.edit.change_password.old_password' | t}}
        %div.col-sm-8
          %input.form-control#old_password{type: "password", "ng-model" => "user.old_password", maxlength: 100, required: "" }
      .form-group
        %label.col-sm-4.control-label{for: "password"} {{'user.edit.change_password.new_password' | t}}
        %div.col-sm-8
          %input.form-control#password{type: "password", "ng-model" => "user.password", maxlength: 100, required: "" }
      .form-group
        %label.col-sm-4.control-label{for: "password_confirmation"} {{'user.edit.change_password.password_confirmation' | t}}
        %div.col-sm-8
          %input.form-control#password_confirmation{type: "password", "ng-model" => "user.password_confirmation", maxlength: 100, required: "" }

      .form-group
        .col-sm-4
          %md-progress-circular{ "md-mode" => "indeterminate", "ng-show" => "isUpdatingPassword" }
        %div.col-sm-8.button-stroke
          %button.button.button_js.orange_border_black_text{ type: "submit", "ng-disabled" => "isUpdatingPassword" }
            %span.button_label {{ isUpdatingPassword ? ('user.edit.change_password.saving' | t) : ('user.edit.change_password.save' | t) }}

  %div{ flex: "0", "flex-gt-md" => "30" }
    %ui-gmap-google-map
