%form{ role: "form" }
	.modal-header
		%h3.modal-title {{'user.signin.request_password_title' | t}}
	.modal-body
		%div{ "ng-hide" => "isUpdating" }
			%p {{'user.signin.request_password_text' | t}}
			.form-group
				%label.control-label{ for: "email" }
				%input.form-control#email{type: "text", "ng-model" => "email", maxlength: 100 }
		%div{ "ng-show" => "isUpdating" }
			%md-progress-linear{ "md-mode" => "indeterminate" }
	.modal-footer.button-stroke{ "ng-hide" => "isUpdating" }
		%button.button.button_js.orange_border_black_text{ type: "submit", "ng-click" => "confirm()" }
			%span.button_label {{'user.signin.request_password_label' | t}}
		%button.button.button_js.orange_border_black_text{ "ng-click" => "cancel()"}
			%span.button_label {{'user.signin.cancel_label' | t}}