%table{:align => "center", :cellpadding => "0", :cellspacing => "0", :style => "padding:10px 0 60px 0;", :width => "100%"}
  %tbody
    %tr{:style => ""}
      %td{:align => "left", :style => "padding:20px 0;"}
        %p{:style => "font-size:1.5em;color:#f57c00;padding:0 0 20px 0;margin:0"}
          Bonjour,
        %p{:style => "padding:0 0 10px 0;margin:0"}
          Vous avez été nombreux à nous le demander ! Afin de faciliter la connexion à Idipops, nous avons mis à jour le système d’authentification en l’intégrant totalement à la plateforme.
    %tr
      %td{:align => "left", :bgcolor => "#fafafa", :style => "padding:20px 40px;border-radius:3px;"}

        %p{:style => "padding:0;margin:0"}
          = "Voici votre nouveau mot de passe : #{@password}"
        %br

        %p{:style => "padding:0;margin:0"}
          Par la suite, vous pourrez modifier ce mot de passe. Votre identifiant reste inchangé (votre adresse email).
        %br
          
        %p{:style => "padding:0;margin:0"}
          A cette occasion, venez découvrir le
          %span{ style: "font-weight: bold;" }
            %a{ href: @root_url }
              nouveau Idipops,
            véritable réseau social des services !
          Avec vous, Idipops accompagne les particuliers de l’idée à sa réalisation. Avec les Posts, grande nouveauté de Idipops, mettez en avant votre savoir-faire en partageant vos conseils, vos expériences et vos réalisations.
        %br

        %p{:style => "padding:0;margin:0;text-align:center;"}
          Alors n’attendez pas : Inspirez la communauté et attirez la lumière sur vous !

    %tr
      %td{:align => "left"}

        %p{ :style => "padding-top:20px" }
          %a{:href => @post_post_path, :style => "color: #ffffff;font-size:18px;font-weight:400;padding: 10px 15px; border-radius: 5px; background-color: #ffa726; display: inline-block; width: auto; text-decoration: none;"}
            Génial ! Je publie un conseil sur Idipops dès maintenant